@charset "utf-8";
/* PostGetForm Example CSS - All styles not directly related to the plugin */

/*=RESET*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}table { border-collapse:collapse; border-spacing:0;}fieldset,img { border:0;}address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}ol,ul { list-style:none;}caption,th { text-align:left;}h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal;}q:before,q:after { content:'';}abbr,acronym { border:0;} section, article, header, footer, nav, aside, hgroup, video { display:block; }

/*=LAYOUT*/
html {
  overflow-y:scroll;
  height: 100%;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  font-size:62.5%;
  background-color:#1d3020;
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.1, #1d3020), color-stop(0.9, #223c26));
  background-image:-moz-linear-gradient(center bottom, #1d3020 10%, #223c26 90%);
  background-repeat: no-repeat;
  color:#1d3020;
}
form, section {
  background-color:#eee;
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(219,219,219)), color-stop(0.9, rgb(246,246,246)));
  background-image:-moz-linear-gradient(center bottom, rgb(219,219,219) 10%, rgb(246,246,246) 90%);
    -webkit-background-clip: padding-box;
  border:1px solid #fff;
    -o-border-radius:1.2em;
    -moz-border-radius:1.2em;
    -webkit-border-radius:1.2em;
  border-radius:1.2em;
  width:32em;
  padding:2em;
  margin:5em auto;
    -o-box-shadow:0 0 1em rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 1em rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 1em rgba(0,0,0,0.4);
  box-shadow:0 0 1em rgba(0,0,0,0.4);
}
h1 {
  font-size:4.8em;
  font-family:"Lobster", Arial, Helvetica, sans-serif;
    -o-text-shadow:0.021em 0.021em 0.021em #fff, -0.021em -0.021em 0.021em #ccc;
    -moz-text-shadow:0.021em 0.021em 0.021em #fff, -0.021em -0.021em 0.021em #ccc;
    -webkit-text-shadow:0.021em 0.021em 0.021em #fff, -0.021em -0.021em 0.021em #ccc;
  text-shadow:0.021em 0.021em 0.021em #fff, -0.021em -0.021em 0.021em #ccc;
  margin-bottom:0.5em;
}
/*=FORM*/
label, legend {
  font-size:1.4em;
}
label[for="name"],
label[for="email"] {
  float:left;
  width:24%;
  clear:right;
  padding-top:0.6em;
  text-align:right;
}
legend:after,
label[for="name"]:after,
label[for="email"]:after {
  content:":";
}
.textbox {
  float:right;
  width:70%;
  padding:0.5em 2%;
  border:1px solid #ccc;
    -o-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
  border-radius:0.3em;
  background:#fff;
  margin-bottom:1em;
    -o-box-shadow:inset -0.2em -0.2em 0.2em #eee;
    -moz-box-shadow:inset -0.2em -0.2em 0.2em #eee;
    -webkit-box-shadow:inset -0.2em -0.2em 0.2em #eee;
  box-shadow:inset -0.2em -0.2em 0.2em #eee;
}
.textbox input {
  width:100%;
  border:none;
  background:transparent
}
fieldset {
  clear:both;
  border:0.1em solid #bbb;
    -o-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
  border-radius:0.3em;
  padding:1em 4%;
  margin-bottom:1.5em;
}
legend {
  margin-left:-0.5em;
}
fieldset label {
  float:left;
  width:47%;
  padding:0.5em 0;
}
label input {
  float:left;
  margin-right:1em;
}
label[for="newsletter"] {
  margin-bottom:1em;
}
select {
  width:100%;
  margin-bottom:1em;
}
input[type="submit"] {
  border:none;
  background:transparent;
    -o-box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
  box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
  padding:0.5em;
  border:0.1em solid #fff;
  background-color:#1d3020;
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.1, #1d3020), color-stop(0.9, #223c26));
  background-image:-moz-linear-gradient(center bottom, #1d3020 10%, #223c26 90%);
    -webkit-background-clip: padding-box;
  color:#fff;
    -o-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
  border-radius:0.3em;
  width:25%;
  margin:0 auto;
    -o-text-shadow:0 0.1em 0.1em rgba(0,0,0,0.3);
    -moz-text-shadow:0 0.1em 0.1em rgba(0,0,0,0.3);
    -webkit-text-shadow:0 0.1em 0.1em rgba(0,0,0,0.3);
  text-shadow:0 0.1em 0.1em rgba(0,0,0,0.3);
}
input[type="submit"]:hover {
  border-color:#a8ddb0;
  color:#a8ddb0;
}
input[type="submit"]:active {
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.1, #223c26), color-stop(0.9, #1d3020));
  background-image:-moz-linear-gradient(center bottom, #223c26 10%, #1d3020 90%);
  position:relative;
  top:0.1em;
}
section {
  width:48em;
}
section div {
  font-size:1.4em;
}
ul {
  margin:1em 0;
}
li {
  list-style:disc;
  margin-left:2em;
}
h2 {
  margin:2em 0 1em;
  font-weight:bold;
}
code {
  font-family:"Courier New", Courier, monospace;
}
p {
  margin-bottom:0.5em;
  line-height:1.3em;
}
a {
  color:#1d3020;
}
a:hover {
  text-decoration:none;
}
strong {
  font-weight:bold;
}
body:after, .group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html body, * html .group { height: 1%; }
body, .group { min-height: 1px; }
label, input[type="checkbox"], input[type="radio"], input[type="submit"], select {
  cursor:pointer;
  display:block;
}
em { 
  font-style:italic; 
}